<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bit_etland.web.emp.EmployeeMapper">
  <select id="findOneEmployee" resultType="com.bit_etland.web.emp.Employee">
    SELECT 
    	EMPLOYEE_ID employeesID, 
        MANAGER manager, 
        NAME name,
		BIRTH_DATE birthDate,
		PHOTO photo,
		NOTES notes
		FROM EMPLOYEES 
	  <!--   	WHERE EMPLOYEE_ID LIKE #{employeesID}
		<if test="employeesID != null">
	  	 AND NAME LIKE #{name}
		</if>  -->
  </select>
  <insert
		  id="insertEmployee"
		  parameterType="com.bit_etland.web.emp.Employee"
		  flushCache="true"
		  statementType="PREPARED"
		  timeout="20">
        INSERT INTO CUSTOMERS (CUSTOMER_ID, 
        					CUSTOMER_NAME, 
					        PASSWORD,
					        SSN,
					        PHONE,
					        CITY,
					        ADDRESS,
					        POSTAL_CODE) 
        VALUES ( #{customerID}
	           	 ,#{customerName}
	            	,#{password}
	           		,#{ssn}
	            	,#{phone}
	            	,#{city}
	            	,#{address}
	            	,#{postalCode})	 
    </insert>
	    <update
			  id="updateEmployee"
			  parameterType="com.bit_etland.web.emp.Employee"
			  flushCache="true"
			  statementType="PREPARED"
			  timeout="20">
			  UPDATE CUSTOMERS
					   SET PHONE = #{phone}
					  ,CITY = #{city}
					  ,ADDRESS= #{address}
					  ,POSTAL_CODE = #{postalCode} 
					  ,PASSWORD = #{password} 
			  WHERE CUSTOMER_ID LIKE #{customerID}
		  </update>
	    <delete
			  id="deleteEmployee"
			  parameterType="com.bit_etland.web.emp.Employee"
			  flushCache="true"
			  statementType="PREPARED"
			  timeout="20">
			  DELETE FROM CUSTOMERS
			  WHERE CUSTOMER_ID LIKE #{customerID}
		  </delete>
</mapper>